body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #424656;
  --light-green: #91E48C;
  --green: #00B1AB;
  --dark-gray: #52576B;
  --light-gray: #A7AABD;
  --gray: #737687;
  --light-blue: #5EA9FF;
  --blue: #457A98;
  --yellow: #F9F871;
  --light-pink: #BF87A7;
  --pink: #A77E9F;
  --white: #F7F9FF;
}

body {
  background-color: var(--black);
}
